*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
   text-align: center;
   
}

.container {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
   }
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100vh;
}
.articlecontent {
    display: flex;
    flex: 0 0 60%;
    order: 1
}
.left-sidebar {
    display: flex;
    flex: 0 0 20%;
    order: 0
}
.right-sidebar {
    display: flex;
    flex: 0 0 20%;
    order: 2
}