*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
grid-template-rows: 1fr 5fr 1fr;
height: 100vh;
max-width: 1200px;
}

body > * {
border: 10px solid black;
font-size: 3rem;
}

header,
footer {
    grid-column: 1 / -1;
    text-align: center;
}
